---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.vue";
import Hero from "../components/hero.vue";
import About from "../components/about.vue";
import Contact from "../components/contact.vue"
import Projects from "../components/projects.vue"
import Footer from "../components/footer.vue";
import "../styles/global.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const coolFaceIconUrl = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='currentColor' d='M16 24a8 8 0 0 0 6.85-3.89l-1.71-1a6 6 0 0 1-10.28 0l-1.71 1A8 8 0 0 0 16 24'/%3E%3Cpath fill='currentColor' d='M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m0 2a12 12 0 0 1 10.89 7H25a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1H5.11A12 12 0 0 1 16 4m0 24A12 12 0 0 1 4 16a12 12 0 0 1 .4-3H7v2a2 2 0 0 0 2 2h3.31a2 2 0 0 0 2-1.67l.52-3.33h2.34l.55 3.33a2 2 0 0 0 2 1.67H23a2 2 0 0 0 2-2v-2h2.6a12 12 0 0 1 .4 3a12 12 0 0 1-12 12'/%3E%3C/svg%3E";
const thumbsUpIconUrl= "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='currentColor' d='M26 12h-6V6a3.003 3.003 0 0 0-3-3h-2.133a2.01 2.01 0 0 0-1.98 1.717l-.845 5.917L8.465 16H2v14h21a7.01 7.01 0 0 0 7-7v-7a4.005 4.005 0 0 0-4-4M8 28H4V18h4Zm20-5a5.006 5.006 0 0 1-5 5H10V17.303l3.958-5.937l.91-6.366H17a1 1 0 0 1 1 1v8h8a2.003 2.003 0 0 1 2 2Z'/%3E%3C/svg%3E";
const portraitImageLink = "https://github.com/mcsamuelshoko/readme/blob/main/src/images/freelancer-profile.png?raw=true";
---

<Layout>
	<Header  client:load />
	<Hero client:load />
	<About client:load />
	<Contact client:load />
	<Projects client:load />
	<div class="min-h-[61.3vh] p-16 mb-32 space-y-8">
		<div class="flex ">
			<span
                    class="inline-flex relative top-4 animate-[ping_7s_infinite]"><img src="/icons/star.svg"
                        alt="star shape" class="h-32 -mb-4 animate-[spin_5s_infinite]  ease-in" /></span>
			<p class="text-9xl text-center font-marker text-blue-50">Thanks for stopping by</p>
			<img src={thumbsUpIconUrl} alt="thumbs up icon" class="h-48 invert opacity-20">
			<span
                    class="inline-flex relative top-4 animate-[ping_4s_infinite]"><img src="/icons/submark.svg"
                        alt="submark icon" class="h-32 -mb-4 animate-[wiggle_5s_infinite]  ease-in" /></span>

		</div>
		<div class="flex justify-center items-center">
			<span
                    class="inline-flex relative top-4 animate-[bounce_400s_infinite] saturate-0 mr-8"><img src={portraitImageLink}
                        alt="my portrait" class="h-32 -mb-4 animate-[wiggle_300s_infinite]  ease-in rounded-3xl opacity-90" /></span>
			<p class="text-5xl font-display">I hope you have a Great day!<span
				class="inline-flex relative top-4 animate-[ping_7s_infinite]"><img src={coolFaceIconUrl}
					alt="cool face" class="h-32 -mb-4 animate-[wiggle_9s_infinite]  ease-in invert opacity-30" /></span></p>
		</div>
	</div>
	<Footer client:load />
</Layout>
